@charset "utf-8";
/*Common.css*/
@import "roboto.css";
@import "notosanskr.css";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.01em;
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  word-wrap: break-word;
  word-break: keep-all;
  white-space: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
}
img,
fieldset,
button {
  border: none;
}
hr,
button img {
  display: none;
}
button {
  cursor: pointer;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}
li {
  list-style: none;
}
a {
  color: #5a5959;
  text-decoration: none;
  vertical-align: top;
}
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}
textarea {
  overflow: auto;
}
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}
table img {
  vertical-align: top;
}
th,
td {
  vertical-align: middle;
  word-wrap: break-word;
  word-break: break-all;
}
form {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
}
legend {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
} /* For Screen Reader */
caption {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  visibility: hidden;
}
em {
  font-style: normal;
}
.blind {
  position: absolute;
  left: -9999px;
  top: -9999px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}
input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 14px;
  letter-spacing: -0.01em;
  vertical-align: top;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
